@font-face {
  font-family: "DM Sans SemiBold";
  src: url("./assets/DMSans-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 200vh;
  margin: 0;
}

.linkedin,
.portfolio {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  row-gap: 2rem;
  height: 100vh;
  padding: 2rem;
}

.linkedin {
  background: #0a66c2;
  background: linear-gradient(
    150deg,
    rgba(10, 102, 194, 1) 0%,
    rgba(9, 92, 174, 1) 100%
  );
}

.portfolio {
  background-color: #ffad00;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  text-align: center;
}

.green-bg {
  background-color: #2d9076;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  width: 65%;
  row-gap: 0.25rem;
}

h1,
h2 {
  font-size: 1.5rem;
  font-family: "DM Sans SemiBold";
  margin: 0;
}

h1 {
  color: #fff;
}

h2 {
  color: #000;
}

.qr {
  width: 100%;
}

.me {
  width: 65%;
  border-radius: 100%;
}
